<!DOCTYPE html>
<html lang="et">

<head>
  <meta charset="utf-8">
  <title>Fredi Tarenõmm</title>
  <script src="class2.js" defer></script>
</head>

<body>

  <body style="background-color:#7dfddb;">
    <center>
      <img src="banner/cat1.gif" alt="vasak turva" style="width:220px;height:220px;">
      <img src="banner/vp_banner_2024.png" alt="veebiprogrammeerimise 2024. aasta kursuse bänner">
      <img src="banner/cat2.gif" alt="parem turva">
      <br>
      <img src="images/welcome.gif" alt="teretulemast saidile">
      <h1>Fredi Tarenõmm</h1>
      <p>See leht on loodud õppetöö raames <a href="https://www.tlu.ee" target="_blank">Tallinna Ülikoolis</a>,
        Digitehnoloogiate instituudis ja ei sisalda tõsiselt võetavat materjali.</p>
      <hr>
      <ul>
        <li><a href="/">Avaleht</a></li>
      </ul>
      <hr>
      <h2><%= h2%></h2>
      <ul>
        <% listData.forEach(function(wisdomPhrase){ %>
          <li><%= wisdomPhrase %></li>
        <% }); %>
      </ul>

</html>