<!DOCTYPE html>
<html lang="et">

<head>
  <meta charset="utf-8">
  <title>Fredi Taren천mm</title>
  <script src="class2.js" defer></script>
</head>

<body>

  <body style="background-color:#b47951;">
  
      <h1>Andmete Sisestus</h1>
      <ul>
        <li><a href="/"> Avalehele</a></li>
        <li><a href="/summary"> Kokkuv천te </a></li>
        <li><a href="/dataentry"> sisesta andmeidz </a></li>
      </ul>
    <hr>

    <br>

    <h2>Mahalaadimisel Olevad S천idukid</h2>
      <form method="post">
        <select id="loadedTrucks" name="loadedTrucks">
          <option selected disabled>Vali s천iduk</option>
          <% loadingList.forEach(function(vehicle) { %>
            <option value="<%= vehicle.truck %>">
              <%= vehicle.truck %> 
            </option>
          <% }); %>
        </select>
        <input type="number" id="updateWeight" name="updateWeight">
        <input type="submit" id="weightSubmit">uuenda</button>
      </form>
  </body>

</html>