<!DOCTYPE html>
<html lang="et">

<head>
  <meta charset="utf-8">
  <title>Fredi Tarenõmm</title>
  <script src="class2.js" defer></script>
</head>

<body>

  <body>
    <center>
      <h1>VILJAVEDU!!</h1>
    </center>
    <hr>
    <ul>
      <li><a href="/dataentry"> Sisesta andmeid</a></li>
      <li><a href="/summary"> Vaata andmeid</a></li>

  </body>

</html>